<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500702490512-6l8kb053uvp5c0imknqvspn8i1aje21a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500702490512-6l8kb053uvp5c0imknqvspn8i1aje21a</string>
	<key>API_KEY</key>
	<string>AIzaSyCBR-BFWMUAA_Tq1-TTdbhi3ddJ3zhDYLM</string>
	<key>GCM_SENDER_ID</key>
	<string>500702490512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.ios.basecone.IOSPOC</string>
	<key>PROJECT_ID</key>
	<string>iospoc-c6388</string>
	<key>STORAGE_BUCKET</key>
	<string>iospoc-c6388.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500702490512:ios:69d5dce2f88d5cba</string>
	<key>DATABASE_URL</key>
	<string>https://iospoc-c6388.firebaseio.com</string>
</dict>
</plist>